@font-face {
    font-family: 'f222-4ac0011d9f0';
    src: url('font-file-f222-4ac0011d9f0.eot');
    src: url('font-file-f222-4ac0011d9f0.eot#iefix') format('embedded-opentype'),
    url('font-file-f222-4ac0011d9f0.woff') format('woff'),
    url('font-file-f222-4ac0011d9f0.ttf') format('truetype'),
    url('font-file-f222-4ac0011d9f0.svg#f222-4ac0011d9f0') format('svg');
}

.css-f222-4ac0011d9f0 {
    font-family: 'f222-4ac0011d9f0';
}
