@font-face {
    font-family: 'source-han';
    src: url('//cdn.repository.webfont.com/webfonts/nomal/143321/46865/61533031f629d8ce140244da.gif?r=181235377687');
    src: url('//cdn.repository.webfont.com/webfonts/nomal/143321/46865/61533031f629d8ce140244da.gif?r=181235377687?#iefix') format('embedded-opentype'), url('//cdn.repository.webfont.com/webfonts/nomal/143321/46865/61533031f629d8ce140244da.png?r=181235377687') format('woff2'), url('//cdn.repository.webfont.com/webfonts/nomal/143321/46865/61533031f629d8ce140244da.bmp?r=181235377687') format('woff'), url('//cdn.repository.webfont.com/webfonts/nomal/143321/46865/61533031f629d8ce140244da.jpg?r=181235377687') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-source-han {
    font-family: source-han, Roboto, sans-serif;
}
